@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 共通パーツ */

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Noto Sans JP', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px;
}

/* header */
header {
  width: auto;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}

header p {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

#main-visual {
  display: flex;
  justify-content: center;
}

#main-visual img {
  width: 100%;
  animation-name: mainAnime;
  animation-duration: 3s;
}

@keyframes mainAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* 黒帯contact */
#contact-bnr {
  width: auto;
  height: 280px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.contact-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.contact-head p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.contact-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

.btn {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  width: 500px;
  background-color: #C8151D;
  color: white;
  margin: 0 30px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  border: solid 3px #C8151D;
  transition: 0.4s ease-in-out;
}

.btn a {
  border-radius: 10px;
  padding: 20px 40px;
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.4s ease-in-out;
}



.btn:hover {
  background-color: white;
  color: #C8151D;
  transition: 0.5s ease-in-out;
}

.btn:hover a {
  background-color: white;
  color: #C8151D;
  transition: 0.5s ease-in-out;
}


/* link */
#link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px auto;
  height: 90px;
}

.title-nav {
  width: 250px;
  text-decoration: none;
}

.title-nav:hover {
  border-bottom: 2px solid;
  color: #C8151D;
  transition: all 0.5s ease;
}

.title-nav:hover p {
  color: #C8151D;
  transition: all 0.7s ease;
}

.title-nav p {
  text-align: center;
  color: black;
}

.link-title {
  font-size: 17px;
  font-weight: 600;
}

.link-title-item {
  font-size: 12px;
}

/* 赤帯 */
#about-trinias {
  background-image: url(../images/tr-partner-img2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 650px;
}

#about-trinias p {
  color: white;
}

.about-trinias-area {
  padding: 80px 0 0 0;
}

.about-trinias-head {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.about-trinias-item {
  padding: 50px 0px;
  font-size: 17px;
  text-align: center;
}

.trinias-logo {
  text-align: center;
}

.trinias-logo img {
  width: 200px;
}

.trinias-foot {
  font-size: 13px;
}


/* 共通パーツ　title */
.title {
  text-align: center;
  color: #C8151D;
}

.title-strong {
  font-size: 32px;
  font-weight: 500;
  border-bottom: 2px solid;
  display: inline-block;
  margin: 0 0 7px 0;
}

.title-small {
  font-size: 16px;
}

/* strengths */
#strengths {
  padding: 80px;
}

.strength-img {
  text-align: center;
  margin: 40px 0 0 0;
}

.strength-img img {
  margin: 10px;
}

/* commodity */
#commodity {
  padding: 40px;
}

.commodity-item {
  font-size: 1.1rem;
  text-align: center;
  margin: 0 0 10px 0;
}

.commodity-img-area {
  display: flex;
  flex-direction: column;
}

/* 幅せまのときこれの中身横2つずつ */
.commodity-img-group {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* 幅ひろのときこれで横並び */
.commodity-img-box {
  display: flex;
  justify-content: center;
}

.commodity-img {
  margin: 15px;
}

.commodity-foot {
  text-align: center;
  padding: 70px 0;
  font-size: 17px;
}


/* reason */
#reason {
  padding: 80px;
  background-color: #F2F2F2;
}

.reason-head {
  text-align: center;
  font-size: 17px;
  padding: 50px;
}

.reason-img {
  text-align: center;
}

.reason-img img {
  margin: 10px;
}

/* voice */
#voice {
  padding: 80px;
}

.voice-head {
  text-align: center;
  font-size: 17px;
  padding: 50px 0 20px 0;
}

.voice-area {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px;
}

.voice-group {
  border: 2px solid #C8151D;
  display: flex;
  padding: 30px;
  margin: 30px;
}

.voice-item {
  margin: 0 0 0 50px;
}

.voice-title {
  font-size: 25px;
  font-weight: 600;
  color: #C8151D;
}

.voice-about {
  padding: 20px;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

.voice-about-item {
  display: flex;
  font-size: 17px;
}

.voice-about-title {
  text-align: center;
  width: 130px;
  background-color: #C8151D;
  color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.voice-about-p {
  margin: 5px 10px;
  padding: 5px;
}

.voice-foot {
  font-size: 17px;
  margin: 20px;
}

.voice-foot p {
  margin: 5px;
}

/* flow */
#flow {
  padding: 80px;
  background-color: #F2F2F2;
}

.slider-area {
  width: 20vw;
  /*スライダーを60vwにしてレスポンシブ化*/
  margin: 30px 30px 0 30px;
}

.slider-title {
  font-size: 19px;
  color: #C8151D;
  text-align: center;
}

.slider-title2 {
  font-size: 19px;
  font-weight: 600;
  color: #C8151D;
  text-align: center;
}

.slider-item {
  font-size: 19px;
  margin: 10px;
}


/* slickプラグイン */
.slider {
  /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 80%;
  margin: 0 auto;
}

.slider img {
  /* width: 20vw; */
  /*スライダー内の画像を60vwにしてレスポンシブ化*/
  height: auto;
  margin: 10px;
}

.slider .slick-slide {
  /* transform: scale(0.8); */
  /*左右の画像のサイズを80%に*/
  transition: all .5s;
  /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.1;
  /*透過10%*/
}

.slider .slick-slide.slick-center {
  /* transform: scale(1); */
  /*中央の画像のサイズだけ等倍に*/
  opacity: 1;
  /*透過なし*/
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 12px solid #303030;
  /*矢印の色*/
  border-right: 12px solid #303030;
  /*矢印の色*/
  height: 25px;
  width: 25px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 10px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  border: none;
  width: 4px;
  /*ドットボタンのサイズ*/
  height: 12px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #b6b6b6;
  /*ドットボタンの色*/
}

.slick-dots .slick-active button {
  background: #C8151D;
  /*ドットボタンの現在地表示の色*/
}




/* contact */
#contact {
  padding: 80px 0 0 0;
}

.contact-area {
  max-width: 1150px;
  display: flex;
  margin: 30px auto;
}

.contact-group {
  width: 800px;
  margin: 20px;
}

.contact-item {
  display: flex;
}

.contact-item-title {
  width: 200px;
  background-color: #C8151D;
  color: white;
  margin: 7px 0;
  padding: 10px;
}

.contact-item-input {
  width: 300px;
  margin: 7px 0;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #C8151D;
}

.contact-textarea-title {
  background-color: #C8151D;
  color: white;
  padding: 10px;
}

.contact-textarea {
  border: solid #C8151D;
  width: 522px;
  height: 282px;
  padding: 8px;
}

/* 個人情報 */
.personal-info {
  margin: auto;
  max-width: 1100px;
  background-color: #F2F2F2;
}

.personal-info-head {
  padding: 40px 40px 0 40px;
}

.personal-info-title {
  font-weight: 600;
  margin: 10px 0;
}

.personal-info-roll {
  background-color: #E0E0E0;
  width: auto;
  height: 180px;
  margin: 30px;
  padding: 30px;
  overflow: hidden;
  overflow-y: scroll;
}

.roll-title {
  font-weight: 600;
  margin: 10px 0;
}

.roll-item-title {
  font-weight: 600;
  font-size: 15px;
  margin: 7px 0 0 0;
}

.roll-item {
  font-size: 12px;
}

.checkbox {
  font-weight: 600;
  text-align: center;
  padding: 0 0 30px 0;
}

span {
  color: #C8151D;
}

.personal-info-foot {
  font-size: 13px;
  margin: auto;
  max-width: 1100px;
}

.personal-info-submit {
  text-align: center;
}

.submit {
  font-size: 17px;
  width: 500px;
  height: 50px;
  background-color: #C8151D;
  color: white;
  border: none;
  margin: 80px;
}

.submit:hover {
  background-color: white;
  color: #C8151D;
  border: solid 2px #C8151D;
}

/* footer */
#footer {
  padding: 50px;
  width: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer-item {
  font-size: 17px;
  margin: 20px;
  text-align: center;
}

.footer-item p {
  margin: 7px;
}

.HP-link {
  font-size: 18px;
  text-align: center;
  background-color: #C8151D;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: solid 2px #C8151D;
  transition: 0.5s;
}

.HP-link:hover {
  background-color: white;
  color: #C8151D;
  border: solid 2px #C8151D;
  transition: 0.5s;
}

#foot-link {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1150px;
  height: 90px;
  margin: 70px 0;
}

.foot-title-nav {
  width: 250px;
  text-decoration: none;
  border: 2px solid black;
}

.foot-title-nav p {
  color: white;
  text-align: center;
}

.foot-title-nav:hover {
  border-bottom: 2px solid #C8151D;
  color: #C8151D;
  transition: all 0.5s ease;
}

.foot-title-nav:hover p {
  color: #C8151D;
  transition: all 0.7s ease;
}

.foot-link-title {
  font-size: 17px;
  font-weight: 600;
}

.foot-a {
  color: white;
}

.foot-link-title-item {
  font-size: 12px;
}
